    .image-checkbox {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .clickable-image {
        cursor: pointer;
        width: 75px; /* Adjust size as needed */
        height: auto;
        border: 2px solid transparent;
        background-color: transparent; /* Set a default background color */
    }

    .clickable-image.checked { /* Target the checked state */
        border-color: blue; /* Set border color */
        background-color: lightblue; /* Set background color on check */
    }

    /* Hide checkboxes */
    input[type="checkbox"] {
        display: all; 
    }

    button {
        width: 100px;
        height: 100px;
    }